:root {
  --clr-slate300: hsl(212, 45%, 89%);
  --clr-slate500: hsl(216, 15%, 48%);
  --clr-slate900: hsl(218, 44%, 22%);

  --fs-main: 1rem;

  --ff-main: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* line-height: 1.5; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* General styling */
body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  background-color: var(--clr-slate300);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Styling */
.card {
  max-width: 320px;
  background-color: #fff;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

img {
  border-radius: 0.75rem;
}

.card__title {
  font-size: 1.375rem;
  color: var(--clr-slate900);
  margin: 1rem 0;
}

.card__description {
  color: var(--clr-slate500);
  font-size: 0.975rem;
  margin: 1rem auto 1.5rem auto;
  max-width: 25ch;
}
